/* RESETS */
*{margin: 0; padding: 0;}
html{font-size: 62.5%;}
body{font-size: 1.4rem; font-family: 'Roboto', sans-serif;}
ul{list-style-type: none;}

.primary-heading{
    font-size: 3rem;
    padding: .5rem;
}

/* CONTAINER */
.container{
    display: flex;
    flex-direction: row;
}

/* EVENT LIST */
.event-list{
    flex: 1 0;
    max-width: 28rem;
    padding: 0.5rem;
}

.event-list .get-data{
    width: 100%;
    height: 4rem;
    margin-bottom: .5rem;
}

.event-list .item{
    user-select: none;
    border: 1px solid #666;
    border-bottom: 1px solid transparent;
}

.event-list .item:last-child{
    user-select: none;
    border-bottom: 1px solid #666;
}

.event-list .item:hover{
    background-color: #ffd079;
}

/* EVENT DATA */
.event-data{
    flex: 1 0;
}

/* EVENT ENCOUNTERS */
.encounter{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.encounter span:first-child{
    flex: 0 0 52%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* margin: 0.5rem 0 0.5rem 0.5rem; */
}

/* .encounter span:last-child{
    margin: 0.5rem 0.5rem 0.5rem 0;
} */